# Environment
.env
*.env.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
*.sqlite3
staticfiles/
celerybeat-schedule*

# Node
node_modules/
frontend/build/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
