{% extends 'base.html'%}
{% block content %}

{% load static %}

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg-img/alex.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>About Me</h2>
              <div class="line"></div>
            </div>
            <p>I'm currently studying in Year 11 at Cronulla High School. I am passionate about maths and have achieved top 3 in the grade each year in High School.
            My approach to tutoring is to lead students through their own thought process by asking question in ways they intuitively understand.
              I find this approach empowers the student, improves their confidence and delivers results.

            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->


{% endblock %}