
{% load static %}
<style>
    .gold {color:gold;}
</style>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Alex - maths tutor">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Alex Robinson - Maths Tutor</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'website/img/core-img/maths.ico' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

</head>


<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Top Content -->
          <div class="col-9 col-md-9 col-lg-8">
            <div class="top-header-content">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="21 Greenhills St, Greenhills Beach"><i class="fa fa-map-marker"></i> <span>21 Greenhills St, Greenhills Beach</span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="superalexrobinson@gmail.com"><i class="fa fa-envelope"></i> <span>superalexrobinson@gmail.com</span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="0491 062 546"><i class="fa fa-phone"></i> <span>0491 062 546</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Header End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="dentoNav">

            <!-- Logo -->
            <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'website/img/core-img/mathslogo2.png' %}" alt=""></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li><a href="{% url 'pricing' %}">Pricing</a></li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                  {% if request.user.is_authenticated %}
                  <li><a href="{% url 'diary' 0 %}">Diary</a></li>
                  <li><a href="{% url 'messages' %}">Messages</a></li>
                  {% endif %}
                </ul>
              </div>
              <!-- Nav End -->
            </div>

            <!-- Booking Now Button -->
            <a href="{% url 'book' 1 %}" class="btn dento-btn booking-btn">Book Now</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

   {% block content %}
   {% endblock %}


</body>

  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area bg-gradient-overlay" >
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Contact us</h5>
            <div class="footer-contact">
              <p><i class="icon_pin"></i> 21 Greenhills St, Greenhills Beach</p>
              <p><i class="icon_mail"></i> superalexrobinson@gmail.com</p>
              <p><i class="icon_phone"></i> <span class="gold">0491 062 546</span></p>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Session Times</h5>

            <!-- Opening Hours -->
            <ul class="opening-hours">
              <li><span>Mon-Wed</span> <span>3:30 pm to 6:30 pm</span></li>
              <li><span>Thu-Fri</span> <span>3:30 pm to 6:30 pm</span></li>
              <li><span>Sat</span> <span>9.00 am to 12.00 am</span></li>
              <li><span>Sun</span> <span>9.00 am to 12.00 am</span></li>
              <li><span>Holidays</span> <span>Closed</span></li>
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title"></h5>

            <!-- Quick Links Nav -->
            <nav>
            </nav>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title"></h5>

            <p></p>

          </div>
        </div>
      </div>
    </div>

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'website/js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'website/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'website/js/default-assets/active.js' %}"></script>
  <!-- Extra js -->
  <script src="{% static 'website/js/default-assets/extra.js' %}"></script>

</body>

</html>