{% extends 'base.html'%}
{% block content %}

{% load static %}

  <section class="dento-pricing-table-area section-padding-50">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Request a Booking</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>


  {% if name %}
    <center><h3>Thanks {{ name }}! We received your booking request and will contact you shortly.</h3></center>
  {% endif %}
  {% if error %}
    <center><h3>An error has occurred.</h3></center>
      {% for x in form.errors %}
        <li>{{ x }}</li>
      {% endfor %}
  {% endif %}



  <!-- ***** Contact Area Start ***** -->
  <section class="dento-contact-area mt-50 mb-100">
    <div class="container">

      <div class="row">
        <!-- Contact Information -->
        <div class="col-12 col-md-4">
          <div class="contact-information">
            <h5>Address</h5>
            <p>21 Greenhills St Greenhills Beach</p>

            <h5>Phone</h5>
            <p>0491 062 546</p>

            <h5>Email</h5>
            <p class="mb-0">superalexrobinson@gmail.com</p>
            <p></p>
            <p></p>
          </div>
        </div>

        <!-- Contact Form -->
        <div class="col-12 col-md-8">
          <div class="contact-form">
            <!-- Form -->
            <form method="post">
              {% csrf_token %}
              {{ form.name }} <br>
              {{ form.mobile }} <br>
              Your preferred day:
              {{ form.day }} <br>
              Your preferred time:
              {{ form.time }} <br>
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn dento-btn">Request Booking</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Contact Area End ***** -->


{% endblock %}
