{% extends 'base.html'%}
{% block content %}

{% load static %}

<section class="dento-pricing-table-area section-padding-50">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Create a booking</h2>
          <div class="line"></div>
          <br>
            {% if message %}
              <center><h3>{{ message }}</h3></center>
            {% else %}
              <h3>To create a booking, please enter your name, mobile, select a time and press the 'Book Me In' button below.</h3>
            {% endif %}
        </div>
      </div>
    </div>

  <!-- Form -->
    <form method="post">
      {% csrf_token %}
      <div class="container">
        <div class="row">
          <!-- Contact Form -->
          <div class="col-4 col-md-4">
            <div class="contact-form">
                {{ form.name }} <br>
            </div>
          </div>
          <div class="col-4 col-md-4">
            <div class="contact-form">
                {{ form.mobile }} <br>
            </div>
          </div>
          <div class="col-4 col-md-4">
            <div class="contact-form">
                {{ form.message }} <br>
            </div>
          </div>
          <input type="hidden" name="day_selected" class="form-control" id="day_selected" value="not clicked"> <br>
          <input type="hidden" name="time_selected" class="form-control" id="time_selected" value="not clicked"> <br>


        </div>
      </div>
    <!-- ***** Contact Area End ***** -->
      <div class="col-12">
        <div class="section-heading text-center"><br>
          <h3>Select a time</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  {% for day in days %}
                  {% if day %}
                    <th scope="col" width="20%">{{ day.day_of_week }}<br>{{ day }}</th>
                  {% else %}
                    <th scope="col" width="20%"></th>
                  {% endif %}
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for day in days %}
                    <td>
                    {% for time in day.times_available %}
                      <div class="btn-group-vertical" role="group">
                        <button type="button" class="btn dento-btn appointment-off-btn appointment" data-day="{{day.format}}" data-time="{{time}}" name="{{day}}{{y}}">{{ time }}</button>
                      </div>
                    {% empty %}
                      {% if day %} No availability {% endif %}
                    {% endfor %}
                    </td>
                  {% endfor %}
                </tr>
              </tbody>
              <thead>
                <tr>
                  {% for day in days2 %}
                  <th scope="col">{{ day.day_of_week }}<br>{{ day }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for day in days2 %}
                    <td>
                    {% for time in day.times_available %}
                      <div class="btn-group-vertical" role="group">
                        <button type="button" class="btn dento-btn appointment-off-btn appointment" data-day="{{day.format}}" data-time="{{time}}" name="{{day}}{{y}}">{{ time }}</button>
                      </div>
                    {% empty %}
                      {% if day %} No availability {% endif %}
                    {% endfor %}
                    </td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-12"><br>
              <button type="submit" class="btn dento-btn">Book Me In</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<br><br>

{% endblock %}