{% extends 'base.html'%}
{% block content %}

{% load static %}

<section class="dento-pricing-table-area section-padding-50">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Messages</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="dento-price-table table-responsive">
          <table class="table table-borderless mb-0">
            <thead>
              <tr>
                <th>Sent</th><th>Who</th><th>Message</th>
              </tr>
            </thead>
            <tbody>
              {% for x in messages %}
              <tr>
                <td> {{ x.time_stamp }} </td>
                <td> {{ x.name }} ({{ x.email }} {{ x.mobile }})</td>
                <td> {% if x.message %} {{ x.message }} {% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br>

{% endblock %}